body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/static/hotel4.jpg'); /* Ganti dengan path gambar Anda */
  background-size: cover; /* Agar gambar menutupi seluruh layar */
  background-position: center; /* Agar gambar selalu di tengah */
  margin: 0;
  color: #fff;
}

.login-container {
  width: 500px;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.9); /* Transparansi untuk efek elegan */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tambahkan shadow */
  animation: fadeIn 0.5s ease-in-out;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: crimson;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif; /* Font menarik untuk heading */
  letter-spacing: 2px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
  font-family: 'Poppins', sans-serif; /* Font menarik untuk label */
  text-align: left;
}

input[type="text"], 
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.8); /* Warna dasar */
  color: #333;
}

input[type="text"]:focus, 
input[type="password"]:focus {
  border-color: black; /* Border hitam saat difokuskan */
  outline: none;
}

input[type="submit"] {
  padding: 10px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: darkred;
}

.flash-messages {
  margin: 20px 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.1em;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.login-container a {
  color: crimson;
  text-decoration: none;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;
}

.login-container a:hover {
  color: darkred;
}