<!-- {% extends "layout.html" %} -->

{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        <label for="id_petugas">ID Petugas</label>
        <input type="text" name="id_petugas" placeholder="ID Petugas" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <!-- <a href="{{ url_for('register') }}">Don't have an account? Register here</a> -->
</div>
{% endblock %}
