{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        <label for="id_pengguna">Masukan ID</label>
        <input type="text" name="id_pengguna" placeholder="id_pengguna" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}
