<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Asahi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleNavbarPetugas.css') }}">

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="wrapper">
        <div class="brand">
            <div class="firstname">Asahi</div>
            <div class="lastname">Petugas</div>
        </div>
        <ul class="navigation">
            <li><a href="{{ url_for('checkin') }}" class="{{ 'active' if request.endpoint == 'checkin' else '' }}">Check In</a></li>
            <li><a href="{{ url_for('booking_list') }}" class="{{ 'active' if request.endpoint == 'booking_list' else '' }}">Daftar Booking</a></li>
            <li><a href="{{ url_for('room_list') }}" class="{{ 'active' if request.endpoint == 'room_list' else '' }}">Daftar Kamar</a></li>
            <li><a href="{{ url_for('logout') }}" class="{{ 'active' if request.endpoint == 'logout' else '' }}">Logout</a></li>
        </ul>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>
