<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Asahi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleNavbarOwner.css') }}">

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('checkinOwner') }}">Check In</a></li>
            <li><a href="{{ url_for('booking_listOwner') }}">Daftar Booking</a></li>
            <li><a href="{{ url_for('room_listOwner') }}">Daftar Kamar</a></li>
            <li><a href="{{ url_for('managePetugas') }}">Resepsionis</a></li>
            <!-- manage kamar dan resepsionis adalah fitur khusus owner -->
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>

    {% block body %}
    {% endblock %}

</body>
</html>
