{% extends "navbarPetugas.html" %}

{% block head %}
<title>Hotel Asahi - Room List</title>
<style>
    .room-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .room-card {
        display: flex;
        flex-direction: column;
        width: calc(33.33% - 20px);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 15px;
        margin: 10px;
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
        background-color: #fff;
        max-height: 500px;
    }

    .room-card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }

    .room-card h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.5em;
        color: #333;
    }

    .room-card p {
        margin: 10px 0;
        font-size: 1.2em;
        color: #666;
    }
</style>
{% endblock %}

{% block body %}

<div id="room-list" class="room-list">
    {% for room in rooms %}
    <div class="room-card" id="room-{{ room.id_kamar }}">
        <img src="{{ room.foto }}" alt="Room Image">
        <p>ID: {{ room.id_kamar }}</p>
        <h3>{{ room.tipe_kamar }}</h3>
        <p>Harga: Rp {{ room.harga_kamar }}</p>
        <p>Status Kamar: {{ room.statuskamar }}</p>
    </div>
    {% endfor %}
</div> 

{% endblock %}
